header {
   position: fixed;
   top: 0;
   left: 0;
   height: 80px;
   background-color: $color-border;
   width: 100vw;
   margin: 0 auto;
   clear: both;

   ul {
      position: absolute;
      right: 20px;
      bottom: 4px;

      a {
         color: $color-nav-links;
      }
   }
}
